.login-container{

    .login-sub-container {
        display: flex;
        height: calc(100vh - 11.3vh);
        
        .left {
            margin: 5.5em 0em;
            flex: 1.3;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            
            img {
                width: 600px;
            }
        }
        
        .right {
            flex: 1 1;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            
            .login-card {
                display: flex;
                flex-direction: column;
                background-color: #4E4E4E;
                border-radius: 10px;
                // width: 50%;
                padding: 30px 40px 15px;
                margin: 0px 26% 23% 0;
                
                img {
                    height: 200px;
                    padding: 10px 30px;
                }
                
                .form-control {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    input {
                        font-size: 15px;
                        padding: 5px 10px;
                        margin: 7px 0px;
                        width: 85%;
                        flex: 1;
                        
                        &:active, &:focus {
                            outline: none !important;
                            box-shadow: none !important;
                        }
                        
                        &::placeholder {
                            color: #000000;
                            opacity: 0.5;
                        }
                    }
                    
                    .action-buttons {
                        display: flex;
                        margin: 7px 0px;
                        flex: 1;
                        justify-content: space-between;
                        
                        button {
                            padding: 10px 30px;
                            border: none;
                            border-radius: 5px;
                            background-color: #161d1f;
                            color: #fff;
                            font-weight: 700;
                            margin: 0px 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .login-container {
        
        .login-sub-container {
            flex-direction: column;
            height: 100vh;

            .left {
                flex: 1;
                margin: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: -webkit-fill-available;
                }
            }

            .right {
                flex: 1;

                .login-card {
                    width: 100% !important;
                    margin: 0 !important;
                    height: 100%;
                    border-radius: 10px 10px 0px 0px;

                    &>img{
                        height: auto;
                    }

                    .form-control {
                        input {
                            font-size: 20px;
                            width: 100%;
                        }

                        .action-buttons {
                            width: 110%;
                            justify-content: space-between;

                            button {
                                flex: 1;
                                padding: 13px 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}